n8n_workflows/travel_planning_ai_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smart-trip-requirement",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2fcb6983-1f2d-4742-8bd2-f4333fcad81c",
      "name": "获取旅游需求详细数据",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1168,
        496
      ],
      "webhookId": "81cea40d-1af6-4519-8aaa-08aac4ecede4"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f9a51560-de80-4d30-a5a2-6921314aaf67",
      "name": "循环目的地城市",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -784,
        272
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -496,
        272
      ],
      "id": "98a6c2ce-f392-43f5-9dc8-4ca10e6c9112",
      "name": "解析数据表数据"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/db.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -640,
        272
      ],
      "id": "5ed92ef6-2910-457d-8250-93765c8466ba",
      "name": "读取数据表结构文件"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        80,
        288
      ],
      "id": "ab8ceed6-ed8c-4e5d-8cc6-c540376393dc",
      "name": "查询数据库2",
      "credentials": {
        "mySql": {
          "id": "FkzLGAfMbt4lMWox",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output.sql }}",
        "options": {
          "detailedOutput": false
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        80,
        -48
      ],
      "id": "683970ee-d599-4d62-b449-f49a08794f9c",
      "name": "查询数据库1",
      "credentials": {
        "mySql": {
          "id": "FkzLGAfMbt4lMWox",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        80,
        608
      ],
      "id": "a832f1d1-c3d5-4f63-9ca0-911c368d8af8",
      "name": "查询数据库3",
      "credentials": {
        "mySql": {
          "id": "FkzLGAfMbt4lMWox",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "4173cc35-98f3-4998-b136-c6a429fdeafc",
      "name": "数据返回成功",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1136,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 使用 map 方法直接返回处理后的新数组，符合函数式编程范式\nreturn items.map(item => {\n  const data = item.json;\n  const validationResult = {\n    isValid: true,\n    errors: [],\n    warnings: []\n  };\n\n  // 闭包辅助函数：集中处理状态变更，减少代码冗余\n  const addError = (message) => {\n    validationResult.isValid = false;\n    validationResult.errors.push(message);\n  };\n\n  // 1. 结构校验：使用可选链 (?.) 安全提取深层嵌套对象\n  const baseInfo = data.requirementData.requirement_json_data.base_info\n\n  if (!data.requirementData) {\n    addError('requirementData is missing');\n  } else if (!baseInfo) {\n    addError('base_info is missing');\n  } else {\n    // 2. 字段层级校验\n    \n    // 校验 origin\n    if (!baseInfo.origin) {\n      addError('origin is missing from base_info');\n    }\n\n    // 校验 destination_cities：增加 Array 类型检查\n    const destCities = baseInfo.destination_cities;\n    if (!destCities) {\n      addError('destination_cities is missing, not an array, or empty');\n    }\n\n    // 校验 trip_days：增加 Number 类型检查\n    const tripDays = baseInfo.trip_days;\n    if (typeof tripDays !== 'number') {\n      addError('trip_days must be a valid number');\n    } else if (tripDays < 1) {\n      addError('trip_days must be at least 1');\n    }\n  }\n\n  // 3. 返回重构后的数据对象\n  return {\n    json: {\n      ...data,\n      validationResult\n    }\n  };\n});"
      },
      "id": "f2d0bb7d-8875-4e89-8f41-29de74b2efe0",
      "name": "校验旅游需求必要数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "requirement-data",
              "name": "requirementData",
              "type": "object",
              "value": "={{ $json.body }}"
            },
            {
              "id": "destination-cities",
              "name": "destinationCities",
              "type": "array",
              "value": "={{ $json.body.requirement_json_data.base_info.destination_cities }}"
            },
            {
              "id": "trip-days",
              "name": "tripDays",
              "type": "number",
              "value": "={{ $json.body.requirement_json_data.base_info.trip_days }}"
            },
            {
              "id": "budget",
              "name": "budget",
              "type": "object",
              "value": "={{ $json.body.budget || {} }}"
            },
            {
              "id": "preferences",
              "name": "preferences",
              "type": "object",
              "value": "={{ $json.body.preferences || {} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3cda25ff-c200-4471-b6fe-cc88f0d8113b",
      "name": "解析旅游需求数据2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        976
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "destination-cities",
              "name": "destinationCities",
              "type": "array",
              "value": "={{ $json.body.requirement_json_data.base_info.destination_cities }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b0d6ac34-11c3-4865-b18d-533e2456b2f4",
      "name": "解析旅游需求数据1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.validationResult.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a368956-8e9b-423d-b8c0-94835cb18f5c",
      "name": "检查数据校验是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -544,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-response",
              "name": "errorResponse",
              "type": "object",
              "value": "={\n                \"success\": false,\n                \"message\": \"数据验证失败\",\n                \"errors\": {{ $json.validationResult.errors }},\n                \"timestamp\": \"{{ new Date().toISOString() }}\n              }"
            }
          ]
        },
        "options": {}
      },
      "id": "18c2d2f1-52b4-4b84-aa30-1afd04b707ac",
      "name": "错误处理",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        1216
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.errorResponse) }}",
        "options": {}
      },
      "id": "19c44bca-5a0b-4a8b-b73b-24b730f95051",
      "name": "返回错误消息",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -192,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入的 items\nconst items = $input.all();\n\n// 提取每个 item 中的 json 数据部分\nconst hotels = items.map(item => item.json);\n\n// 返回 n8n 要求的标准格式：一个包含单个对象的数组\nreturn [\n  {\n    json: {\n      hotels: hotels\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        288
      ],
      "id": "cc48137f-67d4-4026-bed1-90b089f83b5b",
      "name": "酒店列表",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入的 items\nconst items = $input.all();\n\n// 提取每个 item 中的 json 数据部分\nconst restaurants = items.map(item => item.json);\n\n// 返回 n8n 要求的标准格式：一个包含单个对象的数组\nreturn [\n  {\n    json: {\n      restaurants: restaurants\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        608
      ],
      "id": "f1eea3b7-d212-448f-93ed-de021dd9376d",
      "name": "餐厅列表",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入的 items\nconst items = $input.all();\n\n// 提取每个 item 中的 json 数据部分\nconst attractions = items.map(item => item.json);\n\n// 返回 n8n 要求的标准格式：一个包含单个对象的数组\nreturn [\n  {\n    json: {\n      attractions: attractions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -48
      ],
      "id": "996d7005-521a-4e12-a645-4423b8e3b3ae",
      "name": "景点列表",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        576
      ],
      "id": "71422042-ed0e-495e-a532-44359c310390",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "2ce13b6c-3367-48f4-883f-28851017c505",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "y9k74SOp5QfbKpgt",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"sql\": \"SELECT attraction_id, attraction_name FROM attractions WHERE city_name = '东京' LIMIT 100;\",\n\t\"description\": \"查询东京的景点，返回景点ID和景点名称，限制100条结果。\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -64,
        128
      ],
      "id": "3646cd6c-0f76-4759-afcd-f11cd40ffe0a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior database query assistant.\n\nYour task is to follow pre-defined data structure, then convert user natural language and follow requests into safe, optimized, and syntactically correct SQL queries.\n\n#User Natural Input:\n查询{{ $('循环目的地城市').item.json.destinationCities[0].name }}的酒店，返回酒店ID, 酒店名称\n\n## DATABASE DATA STRUCTURE\n{{ $json.data }}\n\nYou MUST follow these rules strictly\n## GENERAL RULES\n1. Only generate SQL.\n2. Do NOT include explanations unless explicitly requested.\n3. Always assume the database is MySQL 8+ compatible.\n4. Use readable formatting and indentation.\n5. Use explicit column names (never SELECT *).\n6. Use table aliases when helpful.\n## SECURITY RULES (CRITICAL)\n❌ NEVER generate:\n- DELETE\n- UPDATE\n- INSERT\n- DROP\n- TRUNCATE\n- ALTER\n- GRANT\n- REVOKE\n❌ NEVER modify data.\nOnly generate SELECT queries.\n## QUERY SAFETY\n✔ Always include LIMIT when result size may be large.\n✔ Use ORDER BY when user implies ranking or recency.\n✔ Use WHERE filters whenever possible.\n✔ If date range is unclear, assume last 30 days.\n## AMBIGUITY HANDLING\nIf the request is ambiguous:\n- choose the most logical interpretation\n- add reasonable filters\n- keep results useful and concise\n## OUTPUT FORMAT\nReturn output in JSON format, output SQL as a single-line query without line breaks.\n\n{\n  \"sql\": \"SQL query here\",\n  \"description\": \"short explanation\"\n}\n\n## QUERY SCENARIOS\n\n用户：查询三亚的酒店，返回酒店ID, 酒店名称\n回答：\n```SQL\nSELECT hotel_id, hotel_name FROM hotels WHERE city_name = '三亚';\n```\n\n\n用户：查询三亚的酒店，不包含酒店‘AA’，返回酒店ID, 酒店名称\n回答：\n```SQL\nSELECT hotel_id, hotel_name FROM hotels WHERE city_name = '三亚' AND hotel_name NOT IN ('AA')\n```\n\n\n用户：查询三亚的热门酒店，不包含酒店‘AA’，但必须包含‘BB’，返回酒店ID, 酒店名称\n回答：\n```SQL\nSELECT DISTINCT *\nFROM (\n  SELECT hotel_id, hotel_name\n  FROM hotels\n  WHERE city_name = '三亚'\n    AND popularity_score >= 4.0\n    AND hotel_name NOT IN ('AA')\n\n  UNION\n\n  SELECT *\n  FROM hotels\n  WHERE hotel_name = 'BB'\n) t\nORDER BY popularity_score DESC;\n```\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -208,
        272
      ],
      "id": "65456870-1f87-4b01-a9a5-39089da78665",
      "name": "筛选目的地城市酒店"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -208,
        448
      ],
      "id": "a12f62c9-fe54-4d4a-b332-8474f331c246",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "y9k74SOp5QfbKpgt",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"sql\": \"SELECT hotel_id, hotel_name FROM hotels WHERE city_name = '东京' LIMIT 100;\",\n\t\"description\": \"查询东京的酒店，返回酒店ID和酒店名称，限制100条结果。\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -64,
        448
      ],
      "id": "0ab65881-5714-41e6-8d3a-84f391d53241",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior database query assistant.\n\nYour task is to follow pre-defined data structure, then convert user natural language and follow requests into safe, optimized, and syntactically correct SQL queries.\n\n#User Natural Input:\n查询{{ $('循环目的地城市').item.json.destinationCities[0].name }}的景点，返回景点ID, 景点名称\n\n## DATABASE DATA STRUCTURE\n{{ $json.data }}\n\nYou MUST follow these rules strictly\n## GENERAL RULES\n1. Only generate SQL.\n2. Do NOT include explanations unless explicitly requested.\n3. Always assume the database is MySQL 8+ compatible.\n4. Use readable formatting and indentation.\n5. Use explicit column names (never SELECT *).\n6. Use table aliases when helpful.\n## SECURITY RULES (CRITICAL)\n❌ NEVER generate:\n- DELETE\n- UPDATE\n- INSERT\n- DROP\n- TRUNCATE\n- ALTER\n- GRANT\n- REVOKE\n❌ NEVER modify data.\nOnly generate SELECT queries.\n## QUERY SAFETY\n✔ Always include LIMIT when result size may be large.\n✔ Use ORDER BY when user implies ranking or recency.\n✔ Use WHERE filters whenever possible.\n✔ If date range is unclear, assume last 30 days.\n## AMBIGUITY HANDLING\nIf the request is ambiguous:\n- choose the most logical interpretation\n- add reasonable filters\n- keep results useful and concise\n## OUTPUT FORMAT\nReturn output in JSON format, output SQL as a single-line query without line breaks.\n\n{\n  \"sql\": \"SQL query here\",\n  \"description\": \"short explanation\"\n}\n\n## QUERY SCENARIOS\n\n用户：查询三亚的景点，返回景点ID, 景点名称\n回答：\n```SQL\nSELECT attraction_id, attraction_name FROM attractions WHERE city_name = '三亚';\n```\n\n\n用户：查询三亚的景点，不包含景点‘西岛’，返回景点ID, 景点名称\n回答：\n```SQL\nSELECT attraction_id, attraction_name FROM attractions WHERE city_name = '三亚' AND attraction_name NOT IN ('西岛')\n```\n\n\n用户：查询三亚的热门景点，不包含景点‘西岛’，但必须包含‘蜈支洲岛’，返回景点ID, 景点名称\n回答：\n```SQL\nSELECT DISTINCT *\nFROM (\n  SELECT attraction_id, attraction_name\n  FROM attractions\n  WHERE city_name = '三亚'\n    AND popularity_score >= 4.0\n    AND attraction_name NOT IN ('西岛')\n\n  UNION\n\n  SELECT *\n  FROM attractions\n  WHERE attraction_name = '蜈支洲岛'\n) t\nORDER BY popularity_score DESC;\n```\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -208,
        -48
      ],
      "id": "67fe9915-73e0-4be4-8d5b-adc85add2b72",
      "name": "筛选目的地城市景点"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -208,
        768
      ],
      "id": "74fc5fb2-59b5-4fcf-9f06-64dd43829a4b",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "y9k74SOp5QfbKpgt",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior database query assistant.\n\nYour task is to follow pre-defined data structure, then convert user natural language and follow requests into safe, optimized, and syntactically correct SQL queries.\n\n#User Natural Input:\n查询{{ $('循环目的地城市').item.json.destinationCities[0].name }}的餐厅，返回餐厅ID, 餐厅名称\n\n## DATABASE DATA STRUCTURE\n{{ $json.data }}\n\nYou MUST follow these rules strictly\n## GENERAL RULES\n1. Only generate SQL.\n2. Do NOT include explanations unless explicitly requested.\n3. Always assume the database is MySQL 8+ compatible.\n4. Use readable formatting and indentation.\n5. Use explicit column names (never SELECT *).\n6. Use table aliases when helpful.\n## SECURITY RULES (CRITICAL)\n❌ NEVER generate:\n- DELETE\n- UPDATE\n- INSERT\n- DROP\n- TRUNCATE\n- ALTER\n- GRANT\n- REVOKE\n❌ NEVER modify data.\nOnly generate SELECT queries.\n## QUERY SAFETY\n✔ Always include LIMIT when result size may be large.\n✔ Use ORDER BY when user implies ranking or recency.\n✔ Use WHERE filters whenever possible.\n✔ If date range is unclear, assume last 30 days.\n## AMBIGUITY HANDLING\nIf the request is ambiguous:\n- choose the most logical interpretation\n- add reasonable filters\n- keep results useful and concise\n## OUTPUT FORMAT\nReturn output in JSON format, output SQL as a single-line query without line breaks.\n\n{\n  \"sql\": \"SQL query here\",\n  \"description\": \"short explanation\"\n}\n\n## QUERY SCENARIOS\n\n用户：查询三亚的餐厅，返回餐厅ID, 餐厅名称\n回答：\n```SQL\nSELECT restaurant_id, restaurant_name FROM restaurants WHERE city_name = '三亚';\n```\n\n\n用户：查询三亚的餐厅，不包含餐厅‘AA’，返回餐厅ID, 餐厅名称\n回答：\n```SQL\nSELECT restaurant_id, restaurant_name FROM restaurants WHERE city_name = '三亚' AND restaurant_name NOT IN ('AA')\n```\n\n\n用户：查询三亚的热门餐厅，不包含餐厅‘AA’，但必须包含‘BB’，返回餐厅ID, 餐厅名称\n回答：\n```SQL\nSELECT DISTINCT *\nFROM (\n  SELECT restaurant_id, restaurant_name\n  FROM restaurants\n  WHERE city_name = '三亚'\n    AND popularity_score >= 4.0\n    AND restaurant_name NOT IN ('AA')\n\n  UNION\n\n  SELECT *\n  FROM restaurants\n  WHERE restaurant_name = 'BB'\n) t\nORDER BY popularity_score DESC;\n```\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -208,
        608
      ],
      "id": "701251ca-f535-4c42-80d3-e1611d2b879c",
      "name": "筛选目的地城市餐厅"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"sql\": \"SELECT restaurant_id, restaurant_name FROM restaurants WHERE city_name = '东京' LIMIT 100;\",\n\t\"description\": \"查询东京的餐厅，返回餐厅ID和餐厅名称，限制100条结果。\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -64,
        768
      ],
      "id": "db639d1b-fc9d-4ecc-a2d2-64df689a1701",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        720,
        816
      ],
      "id": "137a77b6-1ac7-4857-8298-6f023e1e5726",
      "name": "DeepSeek Chat Model4",
      "credentials": {
        "deepSeekApi": {
          "id": "y9k74SOp5QfbKpgt",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\n你是一个专业且严谨的“高级旅游行程规划专家”Agent。你的核心任务是根据用户提供的结构化旅游需求数据，以及严格限定的候选资源列表（景点、酒店、餐厅），生成一份精确到小时的每日行程规划。\n\n## Input Data\n在每次请求中，你将接收到以下四份数据：\n- Requirements (JSON): 包含基础信息、出行人统计、偏好（交通、住宿、节奏）和预算等。\nRequirements: {{ JSON.stringify($json.requirementData) }}\n- Attractions List (JSON/Array): 经过筛选的候选景点列表，包含景点ID、名称。\nAttractions List：{{ JSON.stringify($json.attractions) }}\n- Hotels List (JSON/Array): 经过筛选的候选酒店列表，包含酒店ID、名称等。\nHotels List：{{ JSON.stringify($json.hotels) }}\n- Restaurants List (JSON/Array): 经过筛选的候选餐厅列表，包含餐厅ID、名称、餐饮类型等。\nRestaurants List：{{ JSON.stringify($json.restaurants) }}\n\n\n## Strict Rules & Constraints\n你必须绝对遵守以下规则，任何违反都将导致任务失败：\n- 绝对数据边界 (Zero Hallucination): - 行程中出现的所有 Attraction(景点), Hotel(酒店), 和 Restaurant(餐厅) 必须且只能从提供的 Input Data (候选资源列表) 中选取。\n- 严禁自行捏造、假设或引入任何不在列表中的地点、实体或 ID。\n\n## 严格响应需求 (Requirement Fidelity):\n- 必须完全按照 User Requirements 规划行程。例如：如果 transportation.type 包含 \"RoundTripFlight\"，你必须在行程的第一天安排去程航班 (FLIGHT) 和接机 (TRANSPORT)，在最后一天安排送机 (TRANSPORT) 和回程航班 (FLIGHT)。\n- 严格遵守 travel_date 的天数限制和 destination_cities 的城市顺序。\n- 必须根据 itinerary.rhythm (如 Moderate) 合理安排每天的活动密度，禁止天马行空或物理上无法实现的紧凑安排。\n\n## 行程逻辑连续性 (Logical Flow):\n- 每天的活动必须遵循时间顺序（start_time 到 end_time），不能出现时间重叠。\n- 必须包含必要的后勤节点：到达当天的 CHECK_IN，离开当天的 CHECK_OUT，以及每日的三餐 (MEAL，除非明确标注为自由活动)。\n- 跨城市移动时，必须安排相应的 TRANSPORT 或 FLIGHT / TRAIN 活动。\n\n## 强制 JSON 输出格式 (Output Formatting):\n你的唯一输出必须是一个合法的、可解析的 JSON 对象。\n严禁在 JSON 前后输出任何解释性文本、寒暄或 Markdown 代码块标记（除非你的环境要求使用 json  进行包裹，但内部必须纯净）。\n\n必须完全匹配提供的目标 JSON Schema。\n\n### Target JSON Output Schema Example (Agent，你必须严格仿照以下结构输出)\n{\n  \"requirement_id\": \"<从Requirements 中提取>\",\n  \"itinerary_name\": \"<根据目的地和天数生成，例如：日本东京大阪5日游>\",\n  \"start_date\": \"YYYY-MM-DD\",\n  \"end_date\": \"YYYY-MM-DD\",\n  \"destinations\": [\n    {\n      \"destination_order\": 1,\n      \"city_name\": \"城市名\",\n      \"country_code\": \"国家代码\",\n      \"arrival_date\": \"YYYY-MM-DD\",\n      \"departure_date\": \"YYYY-MM-DD\"\n    }\n  ],\n  \"traveler_stats\": {\n    \"total_travelers\": \"<根据 group_size 计算>\",\n    \"adults\": \"<匹配Requirements中group_size里的adults>\",\n    \"children\": \"<匹配Requirements中group_size里的children>\",\n    \"infants\": 0,\n    \"seniors\": \"<匹配Requirements中group_size里的seniors>\"\n  },\n  \"daily_schedules\": [\n    {\n      \"day\": 1,\n      \"date\": \"YYYY-MM-DD\",\n      \"city\": \"城市名\",\n      \"activities\": [\n        {\n          \"activity_type\": \"<必须是 FLIGHT, TRANSPORT, ATTRACTION, MEAL, CHECK_IN, CHECK_OUT, FREE 之一>\",\n          \"activity_title\": \"<活动标题>\",\n          \"activity_description\": \"<活动简述>\",\n          \"start_time\": \"HH:MM\",\n          \"end_time\": \"HH:MM\",\n          \"id_reference\": \"<对应的景点/酒店/餐厅ID，若为交通或自由活动则省略>\",\n          \"name_reference\": \"<对应的景点/酒店/餐厅名称>\"\n        }\n      ]\n    }\n  ]\n}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        720,
        608
      ],
      "id": "25165196-7bd6-4276-a1f6-e7ad9029d2c5",
      "name": "旅游行程规划"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"requirement_id\": \"<从Requirements 中提取>\",\n  \"itinerary_name\": \"<根据目的地和天数生成，例如：日本东京大阪5日游>\",\n  \"start_date\": \"YYYY-MM-DD\",\n  \"end_date\": \"YYYY-MM-DD\",\n  \"destinations\": [\n    {\n      \"destination_order\": 1,\n      \"city_name\": \"城市名\",\n      \"country_code\": \"国家代码\",\n      \"arrival_date\": \"YYYY-MM-DD\",\n      \"departure_date\": \"YYYY-MM-DD\"\n    }\n  ],\n  \"traveler_stats\": {\n    \"total_travelers\": \"<根据 group_size 计算>\",\n    \"adults\": \"<匹配Requirements中group_size里的adults>\",\n    \"children\": \"<匹配Requirements中group_size里的children>\",\n    \"infants\": 0,\n    \"seniors\": \"<匹配Requirements中group_size里的seniors>\"\n  },\n  \"daily_schedules\": [\n    {\n      \"day\": 1,\n      \"date\": \"YYYY-MM-DD\",\n      \"city\": \"城市名\",\n      \"activities\": [\n        {\n          \"activity_type\": \"<必须是 FLIGHT, TRANSPORT, ATTRACTION, MEAL, CHECK_IN, CHECK_OUT, FREE 之一>\",\n          \"activity_title\": \"<活动标题>\",\n          \"activity_description\": \"<活动简述>\",\n          \"start_time\": \"HH:MM\",\n          \"end_time\": \"HH:MM\",\n          \"id_reference\": \"<对应的景点/酒店/餐厅ID，若为交通或自由活动则省略>\",\n          \"name_reference\": \"<对应的景点/酒店/餐厅名称>\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        816
      ],
      "id": "1fa603f2-743a-4a2c-941f-72f82e73e48b",
      "name": "Structured Output Parser3"
    }
  ],
  "pinData": {},
  "connections": {
    "获取旅游需求详细数据": {
      "main": [
        [
          {
            "node": "解析旅游需求数据2",
            "type": "main",
            "index": 0
          },
          {
            "node": "解析旅游需求数据1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环目的地城市": {
      "main": [
        [
          {
            "node": "读取数据表结构文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取数据表结构文件": {
      "main": [
        [
          {
            "node": "解析数据表数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询数据库2": {
      "main": [
        [
          {
            "node": "酒店列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询数据库1": {
      "main": [
        [
          {
            "node": "景点列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询数据库3": {
      "main": [
        [
          {
            "node": "餐厅列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "校验旅游需求必要数据": {
      "main": [
        [
          {
            "node": "检查数据校验是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析旅游需求数据2": {
      "main": [
        [
          {
            "node": "校验旅游需求必要数据",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "解析旅游需求数据1": {
      "main": [
        [
          {
            "node": "循环目的地城市",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查数据校验是否成功": {
      "main": [
        [],
        [
          {
            "node": "错误处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "错误处理": {
      "main": [
        [
          {
            "node": "返回错误消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "酒店列表": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "餐厅列表": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "景点列表": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "筛选目的地城市景点",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "解析数据表数据": {
      "main": [
        [
          {
            "node": "筛选目的地城市酒店",
            "type": "main",
            "index": 0
          },
          {
            "node": "筛选目的地城市景点",
            "type": "main",
            "index": 0
          },
          {
            "node": "筛选目的地城市餐厅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "筛选目的地城市景点",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "筛选目的地城市酒店": {
      "main": [
        [
          {
            "node": "查询数据库2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "筛选目的地城市酒店",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "筛选目的地城市酒店",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "筛选目的地城市景点": {
      "main": [
        [
          {
            "node": "查询数据库1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "筛选目的地城市餐厅",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "筛选目的地城市餐厅": {
      "main": [
        [
          {
            "node": "查询数据库3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "筛选目的地城市餐厅",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "旅游行程规划",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "旅游行程规划",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "旅游行程规划",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "旅游行程规划": {
      "main": [
        [
          {
            "node": "数据返回成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8db6169-3fae-49f6-aac1-ac83df9c193f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0844ffba2ea40e23fa8ba08fb8da7057a4d725eb79f3838a334b12dbce6b2ed2"
  },
  "id": "q5c6Cs9AZQs7WM9i",
  "tags": []
}